.moviesTable {
  margin-left: 25px;
}

table {
  /*background-color: yellow;*/
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid black;
}

td.center,
th.center {
  text-align: center;
}

td,
th {
  padding: 10px;
}

td.border,
th.border {
  border: 1px solid black !important;
  border-collapse: collapse;
}
